.pallete {
	display: flex;

	div:nth-child(1) {
		background: $red;
	}

	div:nth-child(2) {
		background: $blue;
	}

	div:nth-child(3) {
		background: $green;
	}

	div:nth-child(4) {
		background: $yellow;
	}

	div:nth-child(5) {
		background: $white;
	}

	div:nth-child(6) {
		background: $black;
	}

	&__square {
		min-width: 32px;
		min-height: 32px;
		max-width: 32px;
		max-height: 32px;
		margin: 5px;
		box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.1);
		border-radius: 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
	}
}
